# Code Samples From Large Group

Place your notes and code samples from large group here.

In [2]:
items = [ 6,4,2,9]
sorted_items = sorted(items)

In [3]:
print(items)

[6, 4, 2, 9]

In [4]:
print(sorted_items)

[2, 4, 6, 9]

In [5]:
items.sort()

In [6]:
items

[2, 4, 6, 9]

In [7]:
name ="toby"
age = 25

In [8]:
car_model = "Model X"
car_make = "Tesla"
car_price = 75000

In [11]:
# example use a dictionary
car = {}
car["model"] = "Model X"
car["make"] = "Tesla"
car["price"] = 75000

In [12]:
car

{'model': 'Model X', 'make': 'Tesla', 'price': 75000}

In [13]:
#Key are unique
car["price"] = 70000

In [14]:
car

{'model': 'Model X', 'make': 'Tesla', 'price': 70000}

In [15]:
student = {
    'name': "Toby",
    'gpa': 4.0,
    'major': 'Art history'
}

In [16]:
student

{'name': 'Toby', 'gpa': 4.0, 'major': 'Art history'}

In [17]:
student['hometown'] = 'Miami, FL'

In [18]:
student

{'name': 'Toby', 'gpa': 4.0, 'major': 'Art history', 'hometown': 'Miami, FL'}

In [19]:
# get keys
print(student['name'], student['gpa'])

Toby 4.0

In [20]:
student['GPA'] = 3.2

In [21]:
student

{'name': 'Toby',
 'gpa': 4.0,
 'major': 'Art history',
 'hometown': 'Miami, FL',
 'GPA': 3.2}

In [26]:
del student['GPA']

In [27]:
student

{'name': 'Toby', 'gpa': 4.0, 'major': 'Art history', 'hometown': 'Miami, FL'}

In [22]:
x = "today"

In [23]:
print(x)

today

In [24]:
del x

In [25]:
print(x)

NameError: name 'x' is not defined

In [28]:
student

{'name': 'Toby', 'gpa': 4.0, 'major': 'Art history', 'hometown': 'Miami, FL'}

In [29]:
student['id']

KeyError: 'id'

In [34]:
# letter frequency
word = "pizza"
freq = {}
freq['p'] = 1
freq['z'] = 2

In [35]:
if freq['w'] == 0:
    print("No W's")
else:
    print(f"There are {freq['w']} w's")

KeyError: 'w'

In [36]:
freq.get("w", 0)

0

In [37]:
if freq.get('w', 0) == 0:
    print("No W's")
else:
    print(f"There are {freq['w']} w's")

No W's

In [38]:
# letter frequency
word = input("Enter Word")
freq = {}
for letter in word:
    freq[letter] = freq.get(letter, 0) + 1
print(freq)

Enter Word mississippi

In [40]:
text = input("Enter Word")
freq = {}
for word in text.lower().split():
    freq[word] = freq.get(word, 0) + 1
print(freq)

Enter Word this is a test this is only a test do not think this test is more than a test

{'this': 3, 'is': 3, 'a': 3, 'test': 4, 'only': 1, 'do': 1, 'not': 1, 'think': 1, 'more': 1, 'than': 1}

In [42]:
student

{'name': 'Toby', 'gpa': 4.0, 'major': 'Art history', 'hometown': 'Miami, FL'}

In [43]:
# iterating over keys
for k in student.keys():
    print(k)

name
gpa
major
hometown

In [44]:
for v in student.values():
    print(v)

Toby
4.0
Art history
Miami, FL

In [46]:
for key, value in student.items():
    print(f"student['{key}'] == {value}")

student['name'] == Toby
student['gpa'] == 4.0
student['major'] == Art history
student['hometown'] == Miami, FL

In [47]:
keylist = list(student.keys())
keylist

['name', 'gpa', 'major', 'hometown']

In [48]:
student

{'name': 'Toby', 'gpa': 4.0, 'major': 'Art history', 'hometown': 'Miami, FL'}

In [49]:
student['grades'] = [10, 50, 100, 100, 90]

In [50]:
student

{'name': 'Toby',
 'gpa': 4.0,
 'major': 'Art history',
 'hometown': 'Miami, FL',
 'grades': [10, 50, 100, 100, 90]}

In [51]:
student['grades'][3]

100

In [55]:
student[0]

KeyError: 0

In [54]:
student['gpa'][2]

TypeError: 'float' object is not subscriptable

In [56]:
students = [
    {'name': 'bob', 'gpa': 3.4},
    {'name': 'sue', 'gpa': 2.8},
    {'name': 'kent', 'gpa': 4.0}
]

#name of first student
students[0]['name']

'bob'

In [58]:
#gpa of the last student
students[-1]['gpa']

4.0

In [61]:
for s in students:
    if s['gpa'] < 3.0:
        print(f"{s['name']} need to go to tutoring")

sue need to go to tutoring

In [60]:
type(s)

dict

In [62]:
with open ("mike.json", "r") as f:
    text = f.read()
    
print(text)

{
    "name" : "mike",
    "age" : 51,
    "hometown" : "Syracuse",
    "cars" : [ "bentley", "tesla" ]
}

In [63]:
text["name"]

TypeError: string indices must be integers, not 'str'

In [64]:
type(text)

str

In [65]:
import json

In [66]:
mike = json.loads(text)

In [67]:
type(mike)

dict

In [69]:
print(text)

{
    "name" : "mike",
    "age" : 51,
    "hometown" : "Syracuse",
    "cars" : [ "bentley", "tesla" ]
}

In [70]:
mike

{'name': 'mike',
 'age': 51,
 'hometown': 'Syracuse',
 'cars': ['bentley', 'tesla']}

In [71]:
mike['cars'][0]

'bentley'

In [72]:
import json
with open ("mike.json", "r") as f:
    text = f.read()
    mike = json.loads(text)
mike

{'name': 'mike',
 'age': 51,
 'hometown': 'Syracuse',
 'cars': ['bentley', 'tesla']}

In [73]:
import json
with open ("mike.json", "r") as f:
    mike = json.load(f)
mike

{'name': 'mike',
 'age': 51,
 'hometown': 'Syracuse',
 'cars': ['bentley', 'tesla']}

In [74]:
students

[{'name': 'bob', 'gpa': 3.4},
 {'name': 'sue', 'gpa': 2.8},
 {'name': 'kent', 'gpa': 4.0}]

In [75]:
with open("my-students.json", "w") as f:
    json.dump(students, f)

In [76]:
with open("my-students.json", "r") as f:
    students = json.load(f)

for s in students:
    print(s["name"])

bob
sue
mary
zeb
kent