# Watch Me Code 2: Reading HTML tables from Websites

In [2]:
import pandas as pd

In [3]:
# HTTP Error - need to set a user agent
tables = pd.read_html("https://ist256.github.io")

HTTPError: HTTP Error 403: Forbidden

In [4]:
headers = {"User-Agent": "Mozilla/5.0"}
tables = pd.read_html("https://ist256.github.io", storage_options=headers)

In [4]:
len(tables)

2

In [5]:
tables[1]

,Date Due,Time Due,Gradebook,Points,Where,What is Due?
0,1/23/2024,11:59 PM,L01,3,Jupyterhub,01-Intro/LAB-Intro.ipynb
1,1/24/2024,11:59 PM,S01,3,Jupyterhub,01-Intro/SmallGroup-Intro.ipynb
2,1/26/2024,11:59 PM,H01,3,Jupyterhub,01-Intro/HW-Intro.ipynb
3,1/30/2024,11:59 PM,L02,3,Jupyterhub,02-Variables/LAB-Variables.ipynb
4,1/31/2024,11:59 PM,S02,3,Jupyterhub,02-Variables/SmallGroup-Variables.ipynb
5,2/2/2024,11:59 PM,H02,3,Jupyterhub,02-Variables/HW-Variables.ipynb
6,2/6/2024,11:59 PM,L03,3,Jupyterhub,03-Conditionals/LAB-Conditionals.ipynb
7,2/7/2024,11:59 PM,S03,3,Jupyterhub,03-Conditionals/SmallGroup-Conditionals.ipynb
8,2/9/2024,11:59 PM,H03,3,Jupyterhub,03-Conditionals/HW-Conditionals.ipynb
9,2/13/2024,11:59 PM,L04,3,Jupyterhub,04-Iterations/LAB-Iterations.ipynb
10,2/14/2024,11:59 PM,S04,3,Jupyterhub,04-Iterations/SmallGroup-Iterations.ipynb
11,2/14/2024,11:59 PM,E1,23,Small Group,E1: Exam 1 (Focus on Lessons 1-3)
12,2/16/2024,11:59 PM,H04,3,Jupyterhub,04-Iterations/HW-Iterations.ipynb
13,2/20/2024,11:59 PM,L05,3,Jupyterhub,05-Functions/LAB-Functions.ipynb
14,2/21/2024,11:59 PM,S05,3,Jupyterhub,05-Functions/SmallGroup-Functions.ipynb
15,2/23/2024,11:59 PM,H05,3,Jupyterhub,05-Functions/HW-Functions.ipynb
16,2/27/2024,11:59 PM,L06,3,Jupyterhub,06-Strings/LAB-Strings.ipynb
17,2/28/2024,11:59 PM,S06,3,Jupyterhub,06-Strings/SmallGroup-Strings.ipynb
18,3/1/2024,11:59 PM,H06,3,Jupyterhub,06-Strings/HW-Strings.ipynb
19,3/5/2024,11:59 PM,L07,3,Jupyterhub,07-Files/LAB-Files.ipynb
20,3/6/2024,11:59 PM,S07,3,Jupyterhub,07-Files/SmallGroup-Files.ipynb
21,3/6/2024,11:59 PM,E2,23,Small Group,E2: Exam 2 (Focus on Lessons 4-6)
22,3/8/2024,11:59 PM,H07,3,Jupyterhub,07-Files/HW-Files.ipynb
23,3/19/2024,11:59 PM,L08,3,Jupyterhub,08-Lists/LAB-Lists.ipynb
24,3/20/2024,11:59 PM,S08,3,Jupyterhub,08-Lists/SmallGroup-Lists.ipynb
25,3/22/2024,11:59 PM,H08,3,Jupyterhub,08-Lists/HW-Lists.ipynb
26,3/26/2024,11:59 PM,L09,3,Jupyterhub,09-Dictionaries/LAB-Dictionaries.ipynb
27,3/27/2024,11:59 PM,S09,3,Jupyterhub,09-Dictionaries/SmallGroup-Dictionaries.ipynb
28,3/29/2024,11:59 PM,H09,3,Jupyterhub,09-Dictionaries/HW-Dictionaries.ipynb
29,4/2/2024,11:59 PM,L10,3,Jupyterhub,10-Pandas-I/LAB-PandasI.ipynb
30,4/3/2024,11:59 PM,S10,3,Jupyterhub,10-Pandas-I/SmallGroup-PandasI.ipynb
31,4/3/2024,11:59 PM,E3,22,Small Group,Q3: Exam 3 (Focus on Lessons 7-9)
32,4/5/2024,11:59 PM,H10,3,Jupyterhub,10-Pandas-I/HW-PandasI.ipynb
33,4/9/2024,11:59 PM,L11,3,Jupyterhub,11-Pandas-II/LAB-PandasII.ipynb
34,4/10/2024,11:59 PM,S11,3,Jupyterhub,11-Pandas-II/SmallGroup-PandasII.ipynb
35,4/12/2024,11:59 PM,H11,3,Jupyterhub,11-Pandas-II/HW-PandasII.ipynb
36,4/12/2024,11:59 PM,P1,0,Jupyterhub,project/P1.ipynb
37,4/16/2024,11:59 PM,L12,3,Jupyterhub,12-Visualization/LAB-Visualization.ipynb
38,4/17/2024,11:59 PM,S12,3,Jupyterhub,12-Visualization/SmallGroup-Visualization.ipynb
39,4/19/2024,11:59 PM,H12,3,Jupyterhub,12-Visualization/HW-Visualization.ipynb
40,4/23/2024,11:59 PM,L13,3,Jupyterhub,13-WebAPIs/LAB-Webapis.ipynb
41,4/24/2024,11:59 PM,S13,3,Jupyterhub,13-WebAPIs/SmallGroup-Webapis.ipynb
42,4/24/2024,11:59 PM,E4,22,Small Group,E4: Exam 4 (Focus on Lessons 10-12)
43,4/26/2024,11:59 PM,H13,3,Jupyterhub,13-WebAPIs/HW-Webapis.ipynb
44,4/29/2024,11:59 PM,P2,0,Jupyterhub,project/P2.ipynb
45,5/7/2024,11:59 PM,P3,0,Jupyterhub,project/P3.ipynb
46,5/7/2024,11:59 PM,P4,49,Jupyterhub,project/P4.ipynb

In [5]:
headers = {"User-Agent": "Mozilla/5.0"}
tables = pd.read_html("https://www.baseball-reference.com/leagues/MLB-standings.shtml", storage_options=headers)
len(tables)

6

In [7]:
from IPython.display import display
for index in range(len(tables)):
    print("INDEX:", index)
    display(tables[index])

INDEX: 0

                  Tm   W   L   W-L%    GB
0  Baltimore Orioles  60  40  0.600    --
1   New York Yankees  60  43  0.583   1.5
2     Boston Red Sox  54  46  0.540   6.0
3     Tampa Bay Rays  51  50  0.505   9.5
4  Toronto Blue Jays  45  55  0.450  15.0

INDEX: 1

                    Tm   W   L   W-L%    GB
0  Cleveland Guardians  60  40  0.600    --
1      Minnesota Twins  55  45  0.550   5.0
2   Kansas City Royals  56  46  0.549   5.0
3       Detroit Tigers  50  52  0.490  11.0
4    Chicago White Sox  27  76  0.262  34.5

INDEX: 2

                   Tm   W   L   W-L%    GB
0      Houston Astros  52  49  0.515    --
1    Seattle Mariners  53  50  0.515    --
2       Texas Rangers  49  52  0.485   3.0
3  Los Angeles Angels  44  57  0.436   8.0
4   Oakland Athletics  41  62  0.398  12.0

INDEX: 3

                      Tm   W   L   W-L%    GB
0  Philadelphia Phillies  64  37  0.634    --
1         Atlanta Braves  54  45  0.545   9.0
2          New York Mets  52  48  0.520  11.5
3   Washington Nationals  47  54  0.465  17.0
4          Miami Marlins  36  65  0.356  28.0

INDEX: 4

                    Tm   W   L   W-L%    GB
0    Milwaukee Brewers  58  43  0.574    --
1  St. Louis Cardinals  53  48  0.525   5.0
2   Pittsburgh Pirates  51  50  0.505   7.0
3         Chicago Cubs  49  54  0.476  10.0
4      Cincinnati Reds  48  53  0.475  10.0

INDEX: 5

                     Tm   W   L   W-L%    GB
0   Los Angeles Dodgers  61  41  0.598    --
1      San Diego Padres  53  50  0.515   8.5
2  Arizona Diamondbacks  52  50  0.510   9.0
3  San Francisco Giants  48  54  0.471  13.0
4      Colorado Rockies  37  65  0.363  24.0

In [14]:
tables[0]['League'] = 'AL'
tables[0]['Division'] = 'East'

In [17]:
teams_df = pd.concat(tables, ignore_index=True)

In [18]:
teams_df

                       Tm  W  L   W-L%   GB League Division
0        New York Yankees  8  2  0.800   --     AL     East
1          Boston Red Sox  7  3  0.700  1.0     AL     East
2       Baltimore Orioles  5  4  0.556  2.5     AL     East
3          Tampa Bay Rays  5  5  0.500  3.0     AL     East
4       Toronto Blue Jays  4  6  0.400  4.0     AL     East
5     Cleveland Guardians  7  2  0.778   --    NaN      NaN
6          Detroit Tigers  6  3  0.667  1.0    NaN      NaN
7      Kansas City Royals  6  4  0.600  1.5    NaN      NaN
8         Minnesota Twins  3  4  0.429  3.0    NaN      NaN
9       Chicago White Sox  1  8  0.111  6.0    NaN      NaN
10          Texas Rangers  6  3  0.667   --    NaN      NaN
11     Los Angeles Angels  5  4  0.556  1.0    NaN      NaN
12       Seattle Mariners  4  6  0.400  2.5    NaN      NaN
13         Houston Astros  3  7  0.300  3.5    NaN      NaN
14      Oakland Athletics  3  7  0.300  3.5    NaN      NaN
15         Atlanta Braves  6  2  0.750   --    NaN      NaN
16  Philadelphia Phillies  4  5  0.444  2.5    NaN      NaN
17          New York Mets  3  6  0.333  3.5    NaN      NaN
18   Washington Nationals  3  6  0.333  3.5    NaN      NaN
19          Miami Marlins  1  9  0.100  6.0    NaN      NaN
20     Pittsburgh Pirates  8  2  0.800   --    NaN      NaN
21      Milwaukee Brewers  6  2  0.750  1.0    NaN      NaN
22           Chicago Cubs  6  3  0.667  1.5    NaN      NaN
23        Cincinnati Reds  5  4  0.556  2.5    NaN      NaN
24    St. Louis Cardinals  5  5  0.500  3.0    NaN      NaN
25    Los Angeles Dodgers  8  4  0.667   --    NaN      NaN
26       San Diego Padres  5  7  0.417  3.0    NaN      NaN
27   Arizona Diamondbacks  4  6  0.400  3.0    NaN      NaN
28   San Francisco Giants  4  6  0.400  3.0    NaN      NaN
29       Colorado Rockies  2  8  0.200  5.0    NaN      NaN

In [19]:
# think of loc as in location not index. This says row 25 column label TM
teams_df.loc[25, "Tm"] # for more on loc...www.youtube.com/watch?v=lJDtzZsmF0g

'Los Angeles Dodgers'

In [20]:
# Everone who has more than 5 wins
teams_df[ teams_df['W'] > 5 ]

                     Tm  W  L   W-L%   GB League Division
0      New York Yankees  8  2  0.800   --     AL     East
1        Boston Red Sox  7  3  0.700  1.0     AL     East
5   Cleveland Guardians  7  2  0.778   --    NaN      NaN
6        Detroit Tigers  6  3  0.667  1.0    NaN      NaN
7    Kansas City Royals  6  4  0.600  1.5    NaN      NaN
10        Texas Rangers  6  3  0.667   --    NaN      NaN
15       Atlanta Braves  6  2  0.750   --    NaN      NaN
20   Pittsburgh Pirates  8  2  0.800   --    NaN      NaN
21    Milwaukee Brewers  6  2  0.750  1.0    NaN      NaN
22         Chicago Cubs  6  3  0.667  1.5    NaN      NaN
25  Los Angeles Dodgers  8  4  0.667   --    NaN      NaN